<!-- Big image!-->
<article class="problem-page">
  <h1><%= @problem.name %></h1>
  <div class="by">
    By
    <%= link_to @problem.user.nickname, @problem.user %>
  </div>
  <div id="notice"><%= notice %></div>
  <div class="description">
    <%= simple_format @problem.description %>
  </div>
  <div class="comments">
    <h4><%= @problem.comments.count %> comments</h4>
    <div class="comment-list">
      <%= render @problem.comments %>
    </div>
    <%= render "comments/form" %>
  </div>
  <% if can? :manage, @problem %>
      <%= link_to 'Edit', edit_problem_path(@problem)%>
      |
  <% end %>
  <%= link_to 'Back', problems_path %>
</article>