<h1>Listing users</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Problems count</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.nickname, admin_user_path(user) %></td>
        <td><%= user.problems.count %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user)%></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
