<div class="description">
  <div class="row">
    <div class="span5">
      <h1>Галоўная Беларуская платформа па вырашэньню <strong>пытаньняў</strong></h1>
    </div>
    <div class="span3 offset1">
      <div class="add-issue-block">
        <%= link_to 'Дадаць пытаньне', new_problem_path, :class => 'add-issue-link' %>
      </div>
    </div>
  </div>
</div>
<div class="popular clearfix">
  <% (2..9).each do |i|%>
      <div class="issue">
        <a href="#">
          <img src="/test/<%= i %>.jpg">
          <div class="description-overflow">
            <div class="wrap">
              <div class="text">
                Пабудаваць беларускамоўны садок у Лепеле
              </div>
              <div class="supporters">
                <hr/>
                <%= 1 + rand(5000) %> падтрымалі
              </div>
            </div>
          </div>
        </a>
      </div>
  <% end %>
</div>
<section class="latest">
  <h2>
    Апошнія
  </h2>
  <hr/>
  <div class="issues clearfix">
    <% (2..7).each do |i|%>
        <section class="issue">
          <div class="picture">
            <a href="#">
              <img src="/test/<%= i %>.jpg">
            </a>
          </div>
          <hr/>
          <div class="description">
            <h3>
              <a href="#">Нехапае веганскай крамы вельмі патрэбна</a>
            </h3>
            <hr/>
            <div class="supporters">
              <span>
                <%= 1 + rand(5000) %> падтрымалі
              </span>
              <span class="creator">
                <a href="#">Алесь Канюшын</a>
              </span>
            </div>
          </div>
        </section>
    <% end %>
  </div>
</section>
<%=
    #render 'problem_list'
%>