<!DOCTYPE html>
<html>
<head>
  <title>Ratuj-Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/admin/">Admin Home</a>
<% if admin_signed_in? %>
    <%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Sign In', new_admin_session_path %>
<% end %>
<%= render('users/search')%>
<%= yield %>

</body>
</html>
